body {
	font-family: Verdana, Geneva, sans-serif;
}

.gd-header {
  grid-area: gd-header;
}
.gd-main {
  grid-area: gd-main;
}
.gd-sidebar {
  grid-area: gd-sidebar;
}
.gd-wrap {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "gd-header gd-header gd-header"
    "gd-main gd-main gd-sidebar";
}
.gd-box {
  background-color: #BBB;
}

.rn-title {
  float: left;
}

.rn-user-status {
  float: right;
}

.rn-link-butt {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  padding: 5px 10px;
}

.rn-mod-butt {
  float: right;
}

.type-parent {
  background-color: #DDF;
}
.main-note {
  background-color: #F6F6F6;
}
.child-notes {
  background-color: #EEE;
  padding: 0px 15px;
}
.child-notes h3 {
  font-size: 96%;
}
.associate-notes {
  background-color: #FDD;
}
.common-parent-siblings {
  background-color: #DFD;
  padding-left: 20px;
}
