header {
  background-color: #777;
}
.jd-cat h3, .jd-note h3  {
  color: white;
}
section {
  border-left: 3px solid #777;
  border-right: 3px solid #777;
  margin: 15px 0;
}
section > * {
  padding-left: 15px;
  padding-right: 15px;
}
.jd-note {
  padding-left: 0;
  padding-right: 0;
  border-left: 3px solid #999;
  border-right: 3px solid #999;
}
.jd-cat .jd-note {
  margin-left: 15px;
  margin-right: 15px;
}
.jd-h-block  {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
}
footer, .jd-h-block {
  background-color: #777;
}
.jd-note .jd-h-block {
  background-color: #999;
}
.jd-h-block h3 {
  display: inline;
}
.jd-note h3 {
  font-size: 1.4em;
}
.jd-h-block a {
  float: right;
  background-color: #F6F6F6;
  padding: 0 5px;
  margin-top: 1px;
  margin-right: -5px;
}
.jd-navcol  {
  margin: 15px 0;
}
.jd-edit-nav {
  background-color: #777;
  color: white;
}
.jd-edit-nav a {
  color: white;
}
.jd-edit-nav a:hover {
  color: black;
}
.nav .nav {
  padding-left: 16px;
}
.jd-note-link, .jd-cat-link {
  background-color: #777;
  white-space: nowrap;
  color: white;
  padding: 0 5px;
}
.jd-note-link {
  background-color: #999;
}
.jd-note-link:hover, .jd-cat-link:hover  {
  color: white;
}
